@model GameHeaven.Dtos.Requests.UserResetPasswordRequestDto

@{
    ViewData["Title"] = "Reset Password";
}
<div class="bout" style="margin-top:12%; margin-bottom:20%">
    <h1 align="center">Reset Password</h1>

    <hr />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form asp-action="ResetPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Email" class="form-control" type="hidden" value="@Model.Email" />
                </div>
                <div class="form-group">
                    <input asp-for="Token" class="form-control" type="hidden" value="@Model.Token" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Reset Password" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
